*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/*---------------- header --------------*/
.header{
    height: 60vh;
    width: 100vw;    
    background: #159957; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #159957, #155799); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #159957, #155799);
    display: flex;
    flex-direction: column;
}

.navegacion{
    height: 42px;
    width: 100vw;

    z-index: 100;
}

.nav__ul{
    display: flex;
    justify-content: space-between;
}

.nav__ul-icon{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 25%;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
}

.nav__ul-home{
    width: 50%;
    padding: 10px 10px;
}

.nav__ul-home > a{
    text-decoration: none;
    align-items: center;
    font-size: 15px;
    color: #ffffff;
}

.nav-movil{
    background: #000000; 
    position: absolute;
    width: 100%;
    height: calc(100vh - 44px);
    top: 42px;
    left: -100%;
    overflow: hidden;
    transition: all 0.22s linear;
}



.nav__ul-li{
    -webkit-box-shadow: inset 0px -2px 0px -1px rgba(20,135,217,0.8);
    -moz-box-shadow: inset 0px -2px 0px -1px rgba(20,135,217,0.8);
    box-shadow: inset 0px -2px 0px -1px rgba(20,135,217,0.8);
}



.nav__ul-li > a{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: #ffffff;
    width: 100%;

}

.nav__ul-li a:hover{
    background: #159957; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #159957, #155799); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #159957, #155799);
  display: inline-block;

}

.banner{
    display: flex;
    flex-direction: column;
    height: 76%;
    
}

.boton_play_store{
    border: none;
    background: transparent;
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255 , 1);
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,  1);
    box-shadow: inset 0px 0px 0px 2px rgba(255,255,255 , 1);
    padding: 5px 15px;
    margin-top: 4%;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

.descripcion_banner{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: small;
    margin: auto;
    position: relative;
    color: #ffffff;
}

.img__banner{
    object-fit: scale-down;   
    height: 70%;
    position: relative;
    margin: 0;
}




.wave{
    width:100% ;
    height: 15%;   
    overflow: hidden;  
}

.wave__content{
    height: 100%; 
    width: 100%;
}

.wave__content path{
   stroke: none; 
   fill: #ECE9E6;
   

}

/*  ----------------------------------- main.--------------------------------------            */


.main{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.section__conocenos{
    height:  40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.conocenos__header{
    width: 50%;
    margin: 0 auto;
    height: 55%;
    justify-content: baseline;    
    text-align: left;
}

.conocenos__header h2,p,li{
    color: rgb(114, 114, 114);
    padding: 5px;
}

.conocenos__header h2{
    font-size: 20px;
}
.conocenos__header p{
    font-size: 14px;
}
.conocenos__header li{
    font-size: 12px;
    
}
.lista_ventajas_conocenos{
    list-style: none;
    padding-left: 2px;
    display: none;
}

.conocenos__body{
    height: 45%;
    width: 50%;
}
.conocenos__body video{
    width: 100%;
    height:100%;

}


.section__servicios{
    height: 60%;
    padding-top: 10px;
    background: rgba(21, 150, 90,0.2);
    background: -webkit-linear-gradient(to top, #fafafa, rgba(21, 150, 90,0.2)); 
    background: linear-gradient(to top, #fafafa, rgba(21, 150, 90,0.2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    display: flex;
    flex-direction: column;
}

.text_servicios{
    color: rgb(114, 114, 114);
    padding: 10px;
    font-size: 13x;
    text-align: center;
    height: 20%;
    margin-bottom: 50px;
}
.servicios__container{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
}
.card_servicios{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}




.card_servicios img{
    height: 100%;
}












/*  ----------------------------------- footer.--------------------------------------            */

.footer{
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: inset 10px 90px 84px -67px rgba(241,241,241,1);
    -moz-box-shadow: inset 10px 90px 84px -67px rgba(241,241,241,1);
    box-shadow: inset 10px 90px 84px -67px rgba(241,241,241,1);

}
.form__footer{
    background: rgba(132, 169, 175,0.25);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 4%;
}

.form__footer > h3 ,p,form{
    padding: 10px;
}

.form__footer h3{
    color: rgba(0,0,0,0.8);
    font-size: 25px;
}

.form__footer p {
    color: rgba(0,0,0,0.6);
}

.form__inline {
    width: 30%;
}

.input-text{
    height: 33px;
    width: 180px;
    border: none;
}

.boton-primario{
    background: rgba(66,165,245,1);
    border: none;
    height: 33px;
    width: 75px;
    -webkit-box-shadow: 10px 10px 18px -12px rgba(66,165,245,1);
    -moz-box-shadow: 10px 10px 18px -12px rgba(66,165,245,1);
    box-shadow: 10px 10px 18px -12px rgba(66,165,245,1);
    
}
@media(min-width:320px){
    .lista_ventajas_conocenos{
        display: none;
    }

    .main{
        height: 650px;
    }

    .section__conocenos{
        display: flex;
        flex-direction: row;
        
    }
    .conocenos__header p {
        font-size: 10px;
        height: 450px;

    }

    .conocenos__body{
        display: flex;
        flex-direction: row;
    }
    .conocenos__body video{
        height: auto;
        object-fit: cover;
    }
    .section__servicios{
        height: 950px;
    }
    .servicios__container{
        flex-direction: column;
        height: 600px;
    }
    .footer{

        height: 300px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: inset 10px 90px 84px -67px rgba(241,241,241,1);
        -moz-box-shadow: inset 10px 90px 84px -67px rgba(241,241,241,1);
        box-shadow: inset 10px 90px 84px -67px rgba(241,241,241,1);
    
    }
}

@media (min-width: 576px ) { 
    

    .navegacion{
        flex-direction: column;
        width: 90%;
        padding: 0  10px;
        margin: auto;
        
    }


    .nav__ul-home{
        width: 10%;
        padding: 10px 10px;
        list-style: none;
    }
    
    .lista_ventajas_conocenos{
        display: block;
        position: relative;
    }

    .nav-ul{
        margin: none;
        padding: 0;
    }

    .nav__ul-li{
        flex-basis: auto;
        list-style: none;
        box-shadow: none;
        padding:0;
    }
    
    .nav__ul-li a:hover{
       background: grey;
      display: inline-block;
    
    }
    
    .nav__ul-icon{
        display: none;
    }
    .nav-movil{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-start;
        position: relative;
        left: 0px;
        width: 80%;
        height: 44px;
        top: 0px;
        padding: 0%;
        margin: 0%;
        background: transparent;
    }
    .banner{        
       flex-direction: row; 
       width: 80%;
       margin: auto;
    }
    .main{
        height: 800px;
    }

    .section__conocenos{
        display: flex;
        height: 42%;
    }
    .lista_ventajas_conocenos{
        display: none;
    }
    .conocenos__header,.conocenos__body{
        height: 100%;
        
    }
    .conocenos__body{
        padding: 5px ;
    }
    .conocenos__body video{
        height: auto;
        object-fit: cover;
    }

    .conocenos__header{
        padding: 5%;
    }
    .conocenos__header h2{
        font-size: 22px;
    }
    .conocenos__header p{
        font-size: 15px;
    }
    
    .section__servicios{
        height: 58%;
    }
    .footer{
        height: 250px;
    }
}

@media (min-width: 980px) { 
    .header{
        height: 80vh;
        width: 100%;
    }

 
    .navegacion{
        width: 100%;
    }
    .img__banner{
        width: auto;
        height: 100%;
        object-fit: fill;
    }

    .descripcion_banner{
        font-size: 25px;
        width: 40%;
    }

    .wave{
        height: 150px;
    }

    .section__conocenos{
        height: 60vh;
        width: 100%;
        flex-direction: column; 
    } 
    video{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }   
    .conocenos__header h2{
        font-size: 25px;
    }
    .conocenos__header p{
        font-size: 20px;
    }
    .conocenos__header li{
        font-size: 15px;
        
    }
    .lista_ventajas_conocenos{
        list-style: none;
        padding-left: 2px;
    }

    .conocenos__body{
        height: 90%;
        width: 50%;
    }

    .servicios__container{
        flex-direction: column;
        flex-wrap: wrap;
        height: 750px;
    }

    
    .card_servicios{
        height: 100%;
        width: 24%;
        box-shadow: none;
        border: none;
    }

    .footer{
        height: 250px;
        width: 100%;
    }

}
